$color-main: #0B132B;
$color-secondary: #5BC0BE;
$color-secondary-2: rgb(74, 163, 162);
$color-black: #181818;
$color-white: #ffffff;
$color-gray: #f8f8f8;
$font-main: 'Montserrat', sans-serif;

$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
